{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4,
          "browsers": ["ie >= 11"]
        },
        "spec": true,
        "modules": false,
        "include": [
          "transform-es2015-classes"
        ],
        "useBuiltIns": true,
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}
